.idea/*
!.idea/inspectionProfiles/Project_Default.xml
.pytest_cache
.cache
observers.yaml

*.pyc
*.crm
*.drm
*.pt
*.pkl
*.set
*.log

data/*

se_school/se_school_mod/SchoolMod/*.suo
se_school/se_school_mod/SchoolMod/bin/
se_school/se_school_mod/SchoolMod/obj/
se_school/se_school_mod/SchoolMod/packages/
se_school/se_school_mod/SchoolModTests/bin/
se_school/se_school_mod/SchoolModTests/obj/
se_school/se_school_mod/SchoolModTests/packages/

se_school/se_school_comm/SchoolServer/SchoolServer/bin/
se_school/se_school_comm/SchoolServer/SchoolServer/obj/
se_school/se_school_comm/SchoolServer/SchoolServer/Properties/
se_school/se_school_comm/SchoolServer/.vs
se_school/se_school_comm/SchoolServer/packages/

trained_models/
/torchsim/research/se_tasks/experiments/results

*.nvvp

.mypy_cache

torchsim/research/research_topics/**/results/
torchsim/research/baselines/experiments/results

main\.log

tests/temp/*


*.temp

# Frontend rules
/js/package-lock.json
/js/node_modules