websocket-client
six
Pillow
tornado
PyQt5
numpy
torchvision
matplotlib
scikit-learn
scikit-image
pytest
pytest-mock
scipy
ninja
typing_inspect
tqdm
ruamel.yaml
zmq
gym
networkx
opencv-python
pytest-rerunfailures
prettytable
dacite
pygame
pymunk
colour